<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="./dist/css/style.css">
    <title>Keynote</title>
</head>

<body>

    <div id="root">

        <!-- ##### HEADER SITE ##### -->
        <header>
            <div class="container">

                <!-- ##### NAV BAR MENU ##### -->
                <nav id="top_nav">
                    <h2 id="logo">THE KEYNOTE</h2>
                    <ul id="main_menu">
                        <li v-for="(el, i) in nav_menu" :class="i == selectedPage ? 'selected' : ''" @click="prova(i)">
                            {{el}}</li>
                        <hr>
                        <li><i class="fas fa-search"></i></li>
                    </ul>
                </nav>
            </div>

            <!-- ##### JUMBOTRON ##### -->
            <div class="jumbo">
                <div class="container">
                    <h1>conference on<br><span>social networks</span></h1>
                    <hr>
                    <h3>
                        23-26 may 2019
                        <span>/</span>
                        sans francisco
                        <span>/</span>
                        8 speakers
                    </h3>

                    <button class="btn">register online</button>
                </div>
            </div>
        </header>



        <!-- ##### MAIN SITE ##### -->
        <main>

        </main>



        <!-- ##### FOOTER SITE ##### -->
        <footer>
            <div class="pre_footer">
                <div class="container">

                    <div class="f_aboutus">
                        <h3>about us</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis a, maiores autem
                            minus possimus!</p>
                        <ul>
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-twitter-square"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                            <li><i class="fab fa-google-plus-square"></i></li>
                            <li><i class="fab fa-pinterest-square"></i></li>
                            <li><i class="fab fa-flickr"></i></li>
                        </ul>
                    </div>

                    <div class="f_news">
                        <h3>recent news</h3>
                        <ul>
                            <li><i class="fas fa-chevron-right"></i><a href="#">Lorem ipsum dolor sit.</a></li>
                            <li><i class="fas fa-chevron-right"></i><a href="#">Lorem ipsum dolor sit.</a></li>
                            <li><i class="fas fa-chevron-right"></i><a href="#">Lorem ipsum dolor amet consectetur.</a>
                            </li>
                            <li><i class="fas fa-chevron-right"></i><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            <li><i class="fas fa-chevron-right"></i><a href="#">Lorem ipsum sit amet.</a></li>
                        </ul>
                    </div>

                    <div class="f_seat">
                        <h3>get your seat!</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, reiciendis!</p>
                        <button class="btn">check out tickets!</button>
                    </div>

                    <div class="f_gallery">
                        <h3>gallery from last year</h3>
                        <ul>
                            <li v-for="img in f_gallery">
                                <img :src="'./PREVIEW/img/gallery/' + img" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="end_footer">
                <div class="container">
                    <div>
                        <h6>&copy Copyright GoodLayers, All Right Reserved</h6>
                    </div>
                    <div>
                        <ul>
                            <li>About US</li>
                            <hr>
                            <li>Accommodation</li>
                            <hr>
                            <li>Call For Paper</li>
                            <hr>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./dist/js/main.js"></script>
</body>

</html>