// GENERAL CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
	

body {
    font-family: 'Raleway', sans-serif;
    color: $color_title;
    letter-spacing: 1px;
}

h1, h2 {
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1000px;
    max-width: 1200px;
    margin: auto;
}

.btn {
    color: white;
    background-color: $primary;
    padding: 18px 25px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}

// CLASSES

.selected {
    color: $primary !important;
    border-bottom: 3px solid $primary;
}
