// NAVBAR TOP MENU
header {
    font-weight: $txt_normal;
    margin-bottom: 50px
}

#main_nav {
    @include d-flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;

    & li {
        list-style: none;
        display: inline-block;
        padding: 0px 10px;

        &:hover {
            cursor: pointer;
        }
    }
}


// JUMBOTRON
.jumbo {
    width: 100%;
    @include d-flex;

    & > div {
        width: 50%;
    }

    & p {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.j_img {
    width: 100%;
}

.btn_zone_jumbo {
    margin-top: 60px;

    & span {
        margin: 0px 10px;
        font-weight: 500;
    }

    & div:first-child {
        @include d-flex;
        align-items: center;
    }

    & div:last-child {
        padding: 20px 0px;
    }
}