// QUESTION DIV
.questions {
    padding: 50px 0px;

    & > div {
        @include d_flex;

        & > div {
            @include d_flex;

            & > * {
            margin: 0px 10px
            }

            & i {
                color: $color_text;
            }

            & h3 {
                text-transform: uppercase;
            }

            & a {
                color: $primary;
                font-style: italic;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


// COUNTDOWN DIV ////////////
.countdown {
    padding: 80px 0px;
    background-image: url('../../PREVIEW/img/coutdown-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;

    & > div {
        @include d_flex;
        flex-direction: column;
        align-items: center;

        & > div {
            margin: 20px 0
        }
    }
}
.timing {
    @include d_flex;

    & > div:nth-child(1){
        opacity: 0.9; 
    }
    & > div:nth-child(2){
        opacity: 0.8; 
    }
    & > div:nth-child(3){
        opacity: 0.75; 
    }
    & > div:nth-child(4){
        opacity: 0.7; 
    }
}
.time_box {
    @include d_flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background-color: $color_dark;
    padding: 15px 30px;
    margin: 0px 20px;
    border-radius: 3px;
    color: white;

    & > * {
        margin: 5px 0;
    }

    & h3 {
        font-size: 2.8rem;
    }

    & h4 {
        font-size: 0.8rem;
        font-weight: 300;
    }
}
.subscribe {
    @include d_flex;
    flex-direction: column;
    align-items: center;

    & > * {
        margin: 20px 0;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 3px;
    }

    & form  {
        @include d_flex;
        height: 50px;

        & > * {
            margin: 0 10px;
        }

        & input {
            width: 400px;
            padding: 20px;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 1px;
        }

        & button {
            border-bottom: 3px solid #a12f1e;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }
}


// SPEAKER DIV //////////////
.speakers {
    background-color: #f3f3f3;
    padding: 50px 0;

    & > div {
        @include d_flex;
        flex-direction: column;
        align-items: center;

        & > div {
            @include d_flex;
            width: 100%;
            margin: 20px 0;
        }

        & > div:first-child {
            @include d_flex;
            justify-content: space-between;

            & h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2rem;
            }

            & button {
                font-size: 0.5rem;
                padding: 1px;
                width: 35px;
                height: 35px;
                border-radius: 3px;
            }

        }
    }
}
.speaker {
    @include d_flex;
    flex-direction: column;
    align-items: center;

    & img {
        border-radius: 5px;
        width: 280px;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }

    & h3 {
        font-size: 0.9rem;
        letter-spacing: 3px;
        margin: 15px 0;
    }

    & h5 {
        font-style: italic;
        color: $color_text;
        letter-spacing: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.7rem;
    }
}


// PROGRAM DIV //////////////
.program {
    padding: 50px;
    // container
    & > div {

        & div {
            width: 100%;
        }

        & > div:first-child {
            @include d_flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 50px;

            & > div {
                @include d_flex;
                align-items: center;
            }

            & h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2rem;
            }

            & p {
                width: 500px;
                margin: 0 50px;
            }
            & a {
                color: $primary;
                justify-self: flex-end;
                width: 220px;
                font-style: italic;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
}

.lineup {

    & .tab {
        @include d_flex;

        & button {
            width: 100%;
            text-align: left;
            font-size: 0.7rem;
            border-right: 1px solid $primary_dark;

            &:hover {
                background-color: $primary_dark;
            }
        }

        & span {
            font-weight: 600;
            font-size: 0.9rem;
        }
    }

    & .content {
        @include d_flex;
        background-color: #f7f7f7;
        padding: 50px;
    }

    & .details {
        width: 25%;

        & > div {
            @include d_flex;
            color: $color_text;
            align-items: center;
            margin: 20px 0;

            & h6 {
                font-weight: 500;
                
            }

            & i {
                font-size: 0.8rem;
                margin-right: 15px;
            }
        }

        & .name h6 {
            color: $primary;
        }
    }

    & .description {
        width: 75%;
    }
}
