@mixin d_flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

@mixin d_flex_center {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}